<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile</title>
    <link rel="stylesheet" href="/stylesheets/profile.css">
</head>
<body>
    <div class="wrapper">

        <div class="navbar">
            <a href="/editprofile" class="common yellow">Edit Proifle</a>
            <a href="/create" class="common">create new account</a>
            <a href="/logout" class=" common logout">logout</a>
        </div>

        <h2> <%= user.name %> </h2>
        <h3>age : <span> <%= user.age %> </span></h3>
        <h4>create your post</h4>
        <form action="/post" method="post">
            <textarea name="content" id="" placeholder="write what on your mind"></textarea>
            <input type="submit" value="create your post" class="loginButton">
        </form>
        <div class="postsContainer">
           
            <% user.posts.forEach(function(post) { %>
                <div class="post">
                    <h5 class="username"><%= user.email %></h5>
                    <p><%= post.content %></p>
                    <div class="likecontainer">
                        <a href="/like/<%= user._id %>">likes</a>
                        <a href="/edit/<%= post._id %>">edit post</a>
                    </div>
                </div>
            <% }) %>

            </div>
        </div>

    </div>
</body>
</html>

